title: Farid Shukurov
email: fshukurov19507@ada.edu.az
description: BSIT Student at ADA University | Class of 2029
baseurl: ""
url: "fshukurov09.github.io"

# Build settings

markdown: kramdown
theme: minima
plugins:

- jekyll-feed

# Exclude from processing
exclude:

- Gemfile
- Gemfile.lock
- node_modules
- vendor